<section class="section-box box-trending-destination background-body">
  <div class="container">
    <div class="text-center">
      <h2 class="neutral-1000">Trending Destinations</h2>
      <p class="text-xl-medium neutral-500">Most popular choices for travelers</p>
    </div>
    <div class="box-list-featured">
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-12">
          <div class="card-spot card-spot-2 background-card">
            <div class="card-image">
              <label class="lbl-promotion">26 promotions</label><a href='destination.html'><img
                  src="assets/imgs/page/homepage6/trend.png" alt="Travila"></a>
            </div>
            <div class="card-info-two-col">
              <div class="card-info card-mw background-card wow fadeInUp">
                <div class="card-left">
                  <div class="card-title"> <a class='text-lg-bold neutral-1000' href='destination.html'>Western
                      Europe</a></div>
                  <div class="card-desc"> <a class="text-sm neutral-500" href="#">356 Tours,</a><a
                      class="text-sm neutral-500" href="#">248 Activities</a></div>
                </div>
                <div class="card-right">
                  <div class="card-button"> <a href="#">
                      <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011"
                          stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg></a></div>
                </div>
              </div>
              <div class="card-count">
                <p class="text-sm-bold color-white">Promotion will end in</p>
                <div class="box-count box-count-square mb-0 mt-5 wow fadeInUp">
                  <div class="deals-countdown" data-countdown="2024/06/08 00:00:00"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="card-spot card-spot-2 background-card wow fadeInUp">
            <div class="card-image"> <a href='destination.html'><img src="assets/imgs/page/homepage6/trend2.png"
                  alt="Travila"></a></div>
            <div class="card-info background-card">
              <div class="card-left">
                <div class="card-title"> <a class='text-lg-bold neutral-1000' href='destination.html'>New York</a>
                </div>
                <div class="card-desc"> <a class="text-sm neutral-500" href="#">356 Tours,</a><a
                    class="text-sm neutral-500" href="#">248 Activities</a></div>
              </div>
              <div class="card-right">
                <div class="card-button"> <a href='destination.html'>
                    <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011"
                        stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="card-spot card-spot-2 background-card wow fadeInUp">
            <div class="card-image"> <a href='destination.html'><img src="assets/imgs/page/homepage6/trend3.png"
                  alt="Travila"></a></div>
            <div class="card-info background-card">
              <div class="card-left">
                <div class="card-title"> <a class='text-lg-bold neutral-1000' href='destination.html'>Venice</a>
                </div>
                <div class="card-desc"> <a class="text-sm neutral-500" href="#">356 Tours,</a><a
                    class="text-sm neutral-500" href="#">248 Activities</a></div>
              </div>
              <div class="card-right">
                <div class="card-button"> <a href='destination.html'>
                    <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011"
                        stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="card-spot card-spot-2 background-card wow fadeInUp">
            <div class="card-image"> <a href='destination.html'><img src="assets/imgs/page/homepage6/trend4.png"
                  alt="Travila"></a></div>
            <div class="card-info background-card">
              <div class="card-left">
                <div class="card-title"> <a class='text-lg-bold neutral-1000' href='destination.html'>Amsterdam</a>
                </div>
                <div class="card-desc"> <a class="text-sm neutral-500" href="#">356 Tours,</a><a
                    class="text-sm neutral-500" href="#">248 Activities</a></div>
              </div>
              <div class="card-right">
                <div class="card-button"> <a href='destination.html'>
                    <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011"
                        stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="card-spot card-spot-2 background-card wow fadeInUp">
            <div class="card-image"> <a href='destination.html'><img src="assets/imgs/page/homepage6/trend5.png"
                  alt="Travila"></a></div>
            <div class="card-info background-card">
              <div class="card-left">
                <div class="card-title"> <a class='text-lg-bold neutral-1000' href='destination.html'>London</a>
                </div>
                <div class="card-desc"> <a class="text-sm neutral-500" href="#">356 Tours,</a><a
                    class="text-sm neutral-500" href="#">248 Activities</a></div>
              </div>
              <div class="card-right">
                <div class="card-button"> <a href='destination.html'>
                    <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011"
                        stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>