<section class="section-box box-top-search-section background-body">
  <div class="container">
    <div class="text-center wow fadeInUp">
      <h2 class="neutral-1000 wow fadeInUp">Top Searched Destinations</h2>
      <p class="text-xl-medium neutral-500 wow fadeInUp">Favorite destinations of professional tourists</p>
    </div>
    <div class="box-list-populars">
      <div class="row">
        @for(destination of destinations; track destination){
        <div class="col-lg-3 col-sm-6">
          <div class="card-popular card-top-destination background-card wow fadeInUp">
            <div class="card-image">
              <img [src]="destination.image" [alt]="destination.title">
            </div>
            <div class="card-info">
              <a class='card-title' href='destination.html'>{{destination.title}}</a>
              <div class="card-meta">
                <div class="meta-links"> <a class="text-tour" href="#">{{destination.totalApartments}} Apartments</a>
                </div>
                <div class="card-button"> <a href='destination.html'>
                    <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011"
                        stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg></a></div>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>